.Home {
    display: grid;
    grid-template-columns: 33.33% 66.66%;
    gap: 20px;
    width: 80%;
}

@media (max-width: 1024px) and (min-width: 391px) {
  .Home {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 390px) {
  .Home {
    grid-template-columns: 1fr;
    width: 90%;
  }
}